{{> header}}

<h1>{{title}}</h1>

<form method="get" action="/game">
  <label for="category">Choose a category:</label>
  <select id="category" name="category">
    <option value="all">All Categories</option>
    {{#categories}}
      <option value="{{id}}">{{name}}</option>
    {{/categories}}
  </select>
  <button type="submit">Start quiz</button>
</form>

{{> footer}}
